<div class="add-new-patient-record">
    <form id="createDocumentForm" action="/api/create_document" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="hidden" name="session_id" value="{{session.session_id}}" />
        <div class="form-group">
            <label>Session Information</label>
            <textarea name="document_content" class="form-control" rows="5" required></textarea>
        </div>
        <div class="form-group">
            <label>Diagnosis (patient visible)</label>
            <textarea name="patient_diagnosis" class="form-control" required></textarea>
        </div>
        <div class="form-group">
            <label>Patient Recommendation</label>
            <textarea name="patient_recommendation" class="form-control" required></textarea>
        </div>
        <div class="form-group">
            <input type="file" id="fileupload" name="attachments" class="form-control" multiple />
        </div>
        <button class="btn btn-primary">Save</button>
    </form>
</div>

<div id="create_document_errors">
    {% if messages %}
        {% for message in messages %}
            {% if message.tags == 'error' %}
            <div class="alert alert-danger">
            {% else %}
            <div class="alert alert-{{message.tags}}">
            {% endif %}
                {{message}}
            </div>
        {% endfor %}
    {% endif %}
</div>
