{% extends "base.html" %}
{% block content %}
{% load static %}
{% load tags %}

<script src="{% static 'js/patient.js' %}"></script>

<div class="container-fluid patient_container">
    <div class="row">
        <div class="col-12">

            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-header">
                                <i class="far fa-hospital"></i> Session Details
                                <span class="add_btn">
                                    <form action="/sessions/end_session/{{session.session_id}}" method="POST" enctype="multipart/form-data">
                                        {% csrf_token %}
                                        <input type="hidden" value="{{session.data_key}}" name="data_key" />
                                        <button class="btn btn-success btn-sm" id="finish_session">
                                            <i class="fas fa-check"></i>
                                            Finish Session
                                        </button>
                                    </form>
                                    
                                </span>
                            </div>
                            <div class="card-body card-record-toggle">
                                <strong>Session Start:</strong> {{ session.session_checkin }} /
                                <strong>Session ID:</strong> {{ session.session_id }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-6">
                        <div class="card">
                            <div class="card-header">
                                <i class="fas fa-user-injured"></i> Patient Information
                            </div>
                            <div class="card-body card-record-toggle">
                                <ul clas="patient-details">
                                    <li>
                                        <strong>Patient Name:</strong> {{ patient.name }}
                                    </li>
                                    <li>
                                        <strong>Address 1:</strong> {{ patient.address }}
                                    </li>
                                    <li>
                                        <strong>Address 2:</strong> {{ patient.address2 }}
                                    </li>
                                    <li>
                                        <strong>City/Post Code:</strong> {{ patient.city }}, {{ patient.postCode }}
                                    </li>
                                    <li>
                                        <strong>PPS:</strong> {{ patient.PPSNumber }}
                                    </li>
                                    <li>
                                        <strong>Registered GP:</strong> {{ patient.registeredGP }}
                                    </li>
                                </ul>
                               
                            </div>
                            
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <div class="card">
                            <div class="card-header">
                                <i class="fas fa-list-ul"></i> Triage Information
                            </div>
                            <div class="card-body card-record-toggle triage-info">
                                <strong>Symtoms:</strong> {{ session.session_details.symptoms }} <br />
                                <strong>Symtoms Duration:</strong> {{ session.session_details.symptoms_duration }} <br />
                                <strong>Pre-Existing Conditions:</strong> {{ session.session_details.pre_conditions }} <br />
                                <strong>Pain Scale:</strong> {{ session.session_details.pain_scale }} <br />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">

                    <div class="col-sm-12 col-md-3">
                        <div class="card">
                            <div class="card-header add-header">
                                <i class="far fa-calendar-alt"></i> Appointments
                                <span class="add_btn">
                                    <button class="btn btn-danger btn-sm" id="cancel_new_patient_appointment">
                                        <i class="fas fa-times-circle"></i>
                                        Cancel
                                    </button>
                                    <button class="btn btn-primary btn-sm" id="new_patient_appointment">
                                        <i class="fas fa-plus-circle"></i>
                                        New
                                    </button>
                                </span>
                                
                            </div>
                            
                            <div class="card-body session-list">
                                
                                {% include '_new_appointment.html' %}
                                {% if patient.patientSessions|length == 0 %}
                                    No Previous sessions found.
                                {% else%}
                                    <ul>
                                        {% for followup in followup_sessions %}
                                        <li>
                                            <a class="session-list-link" role="button" data-id="{{followup.session_id}}">
                                            {{ followup.session_checkin|format_date }} ({{ followup.session_documents|length }}) - Scheduled</a>
                                        </li>
                                        {% endfor %}
                                        {% for session in patient.patientSessions %}
                                        <li class="{% if forloop.first %}active-session-link{% endif %}">
                                            <a class="session-list-link" role="button" data-id="{{session.session_id}}">
                                            {{ session.session_checkin|format_date }} ({{ session.session_documents|length }}) {% if forloop.first %}- Current{% endif %}</a>
                                        </li>
                                        {%  endfor %}
                                    </ul>
                                {% endif %}
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-12 col-md-9">
                        <div class="card">

                            <div class="card-header add-header">
                                <i class="fas fa-file-medical-alt"></i> Patient Records
                                <span class="add_btn">
                                    <button class="btn btn-danger btn-sm" id="cancel_new_patient_record">
                                        <i class="fas fa-times-circle"></i>
                                        Cancel
                                    </button>
                                    <button class="btn btn-primary btn-sm" id="new_patient_record">
                                        <i class="fas fa-plus-circle"></i>
                                        New
                                    </button>
                                </span>
                            </div>

                            <div class="card-body">
                                
                                <!-- Add prev sessions here -->
                                {% include '_new_record.html' %}
                                {% include '_sessions.html' %}
                              
                            </div>
                        </div>
                    </div>

                    
                </div>
            </div>

        </div>
    </div>
</div>

{% endblock %}